/*styled background, margin/padding, text alignment*/

html {
    background: url(./SushiBG.png) no-repeat center center fixed;
    background-size: cover;
}

body{
    background-color: rgba(255,255,255, 0);
}

div {
    margin: 10px;
}

#crazi-sushi{
    padding: 10px;
    text-align: center;
}

#new-table{
    padding: 10px;
}

#app{
    margin: -15px;
}

h2 {
    text-align: center;
}

#sushi-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
